body {
  font-family: "Segoe UI", sans-serif;
  background: #F7F2FB;
  color: #3D2C54;
  padding: 30px;
  text-align: center;
}

h2 {
  color: #9C7BD9;
}

input {
  padding: 8px;
  border-radius: 6px;
  border: none;
  margin: 5px;
  width: 150px;
}

button {
  background: #B497D6;
  border: none;
  padding: 8px 15px;
  margin: 10px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #9C7BD9;
}

#boxContainer {
  margin-top: 20px;
}

.color-box {
  width: 110px;
  height: 110px;
  border-radius: 10px;
  display: inline-block;
  margin: 6px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

#bomInfo {
  margin-top: 20px;
  background: #E6D9F2;
  padding: 10px;
  border-radius: 8px;
}