body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eaf3ff;
    margin: 0;
    padding: 0;
}

.container {
    width: 450px;
    margin: 60px auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
    text-align: center;
}

h1 {
    background-color: #2d6cdf;
    color: white;
    padding: 12px;
    border-radius: 8px;
}

.form {
    margin-top: 20px;

    /* Magic lines */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

input {
    width: 85%;
    padding: 11px;
    border-radius: 7px;
    border: 1px solid #444;
    font-size: 15px;
    text-align: center;
}

button {
    width: 50%;
    padding: 11px;
    background-color: #3f63d3;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    transition: 0.2s;
}

button:hover {
    background-color: #2c4db3;
    transform: scale(1.05);
}

#message {
    font-weight: bold;
    margin-top: 15px;
}

.success {
    color: green;
}

.error {
    color: red;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #f1f6ff;
    margin: 6px 0;
    padding: 10px;
    border-radius: 6px;
}