body{
font-family: Arial, Helvetica, sans-serif;
text-align:center;
margin-top:70px;
background:#f4f6f9;
}

h1{
color:#2c3e50;
}

button{
padding:12px 20px;
background:#2ecc71;
color:white;
border:none;
border-radius:6px;
font-size:16px;
cursor:pointer;
}

button:hover

#status{
margin-top:20px;
font-weight:bold;
color:#555;
}

ul{
list-style:none;
padding:0;
margin-top:20px;
}

li{
background:white;
width:280px;
margin:10px auto;
padding:12px;
border-radius:8px;
box-shadow:0 2px 8px rgba(0,0,0,0.15);
}
